:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  background-color: #ffffff;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  line-height: 1;
}

#app {
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  width: fit-content;
  height: fit-content;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}

.scp-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: fit-content;
  margin-bottom: 5vh;
}

#schedule, #cur-projects {
  border: 2px solid black;
  border-radius: 7.5px;
  width: 40vw;
  height: 40vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#schedule {
  margin-right: 5vw;
}

#cur-projects {
  margin-left: 5vw;
}

/* styles for the email form */
#email-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 7.5px;
  height: fit-content;
  width: 15vw;
  padding: 1vmax;
}

#email-form .join-btn, .remove-btn {
  border: inherit;
  border-radius: 5px;
  margin: 0.25rem;
  padding: 5px;
  width: 5vw; 
  height: 4vh;
}

#email-form .join-btn:hover, .remove-btn:hover {
  cursor: pointer;
}

#email-form .join-btn {
  background-color: green;
}

#email-form .join-btn:hover {
  filter: drop-shadow(0 0 0.1em green);
}

#email-form .remove-btn {
  background-color: red;
}

#email-form .remove-btn:hover {
  filter: drop-shadow(0 0 0.1em red);
}

#email-form h2 {
  font-size: bold;
  /* font-style: italic; */
  line-height: 1;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

/* styles for the schedule */
table {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
}

thead {
  background-color: #333;
  color: white;
  font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 2%;
}

th, td {
  padding: 8px;
}

caption {
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  color: #333;
}

.logo {
  height: 2.0em;
  padding: 0.25em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}